<%- include("../layout/head", {title: "Admin danh sách menu tin tức"})%>
<%- include("../layout/header")%>
<%- include("../layout/siderbar")%>
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/admin/dashboard"><svg class="glyph stroked home">
							<use xlink:href="#stroked-home"></use>
						</svg></a></li>
				<li>Menu tin tức</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Danh sách menu tin tức</h1>
 			</div>
		</div><!--/.row-->
		<div id="toolbar" class="btn-group">
			<a href="/admin/add-menu-tin-tuc" class="btn btn-success">
				<i class="glyphicon glyphicon-plus"></i> Thêm menu tin tức mới
			</a>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<table data-toolbar="#toolbar" data-toggle="table">

							<thead>
								<tr>
									<th data-field="id" data-sortable="true">ID</th>
									<th>Tên menu tin tức</th>
									<th>Link video</th>
									<th>Hành động</th>
								</tr>
							</thead>
							<tbody>
								<% for(item of category_tintuc){%>
								<tr>
									<td><%=stt++%></td>
									<td><%=item.menutintuc%></td>
									<td><iframe width="250px" height="150px" src="<%=item.linkvideo%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></td>
									<td class="form-group">
										<a href="/admin/edit-menu-tin-tuc/<%=item._id%>" class="btn btn-primary"><i
												class="glyphicon glyphicon-pencil"></i></a>
										<a onclick="clickDelete('<%=item._id%>')"  class="btn btn-danger"><i
												class="glyphicon glyphicon-remove"></i></a>
									</td>
								</tr>
								<%}%>
								
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div><!--/.row-->
	</div> <!--/.main-->

	<script>
		function handleConfirm(id) {
		  const isConfirm = confirm(`Bạn có chắc chắn xóa không?`)
		  const link = () => window.location.href = `/admin/delete-menu-tin-tuc/${id}`
		  return isConfirm ? link() : false
		}
		const clickDelete = (id) => handleConfirm(id)
	  </script> 

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-table.js"></script>

	<%- include("../layout/footer")%>