<%- include("../layout/head", {title: "Admin update menu tin tức"})%>
<%- include("../layout/header")%>
<%- include("../layout/siderbar")%>


    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/admin/dashboard"><svg class="glyph stroked home">
                            <use xlink:href="#stroked-home"></use>
                        </svg></a></li>
                <li><a href="/admin/danh-sach-menu-tin-tuc">Menu tin tức</a></li>
                <li>Update menu tin tức</li>
            </ol>
         </div><!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Menu tin tức: <%=update.menutintuc%></h1>
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-8">
                            <form role="form" method="post" action="/admin/update-menu-tin-tuc/<%=update._id%>">
                                <div class="form-group">
                                    <label>Tên menu tin tức (Thẻ title):</label>
                                    <input required type="text" name="menutintuc" class="form-control" value="<%=update.menutintuc%>"
                                        placeholder="Tên danh mục...">
                                </div>

                                <div class="form-group">
                                    <label>Link video</label>
                                    <input required type="text" name="linkvideo" class="form-control" value="<%=update.linkvideo%>"
                                        placeholder="Link video...">
                                </div>

                                <button type="submit" name="sbm" class="btn btn-success">Updade</button>
                                <button type="reset" class="btn btn-default">Làm mới</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.col-->
    </div> <!--/.main-->

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-table.js"></script>
    <%- include("../layout/footer")%>