<%- include("./layout/head", {title: "ADMIN NAM THÀNH PHÁT SHOP"})%>
<%- include("./layout/header")%>
<%- include("./layout/siderbar")%>


	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/admin/dashboard"><svg class="glyph stroked home">
							<use xlink:href="#stroked-home"></use>
						</svg></a></li>
				<li>Trang chủ quản trị</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Trang chủ quản trị</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-blue panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked bag">
								<use xlink:href="#stroked-bag"></use>
							</svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<a href="/admin/danh-sach-san-pham">
							<div class="large"><%=product%></div>
							<div class="text-muted">Sản Phẩm</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-blue panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked camcorder">
								<use xlink:href="#stroked-camcorder"></use>
							</svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<a href="/admin/danh-sach-video">
							<div class="large"><%=video%></div>
							<div class="text-muted">Video</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-blue panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<a href="/admin/danh-sach-bai-viet-tin-tuc">
							<div class="large"><%=tintuc%></div>
							<div class="text-muted">Bài viết tin tức</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-blue panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<a href="/admin/bai-viet-dich-vu">
							<div class="large"><%=dichvu%></div>
							<div class="text-muted">Bài viết dịch vụ</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-blue panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked two messages"><use xlink:href="#stroked-two-messages"></use></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<a href="/admin/chia-se-khach-hang">
							<div class="large"><%=chiase%></div>
							<div class="text-muted">Chia sẻ khách hàng</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-blue panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked camera "><use xlink:href="#stroked-camera"/></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<a href="/admin/danh-sach-anh">
							<div class="large"><%=image%></div>
							<div class="text-muted">Thư viện ảnh</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-orange panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked empty-message">
								<use xlink:href="#stroked-empty-message"></use>
							</svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<a href="/admin/danh-sach-yeu-cau-tu-van">
							<div class="large"><%=tuvan%></div>
							<div class="text-muted">Yêu cầu tư vấn</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-teal panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked male-user">
								<use xlink:href="#stroked-male-user"></use>
							</svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large"><%=users%></div>
							<div class="text-muted">Thành Viên</div>
						</div>
					</div>
				</div>
			</div>
			
 
		</div><!--/.row-->
	</div> <!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-table.js"></script>
 

	<%- include("./layout/footer")%>
	