
<%- include("../layout/head", {title: "Admin thêm mới danh mục"})%>
<%- include("../layout/header")%>
<%- include("../layout/siderbar")%>

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/admin/dashboard"><svg class="glyph stroked home">
                            <use xlink:href="#stroked-home"></use>
                        </svg></a></li>
                <li><a href="/admin/danh-muc-san-pham">Menu danh mục sản phẩm</a></li>
                <li>Thêm danh mục sản phẩm</li>
            </ol>
        </div><!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Thêm danh mục sản phẩm</h1>
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-8">
                            <div class="<%=data.error? "alert alert-danger" : ""%>" ><%=data.error%></div>
                            <form role="form" method="post" action="/admin/add-danh-muc">
                                <div class="form-group">
                                    <label>Tên danh mục (Thẻ title):</label>
                                    <input required type="text" name="tendanhmuc" class="form-control"
                                        placeholder="Tên danh mục...">
                                </div>

                                <div class="form-group">
                                    <label>Mô tả menu danh mục</label>
                                    <textarea id="content" required name="content" class="form-control" value="" rows="3"></textarea>
                                    <script>
                                        CKEDITOR.replace('content',{
                                            extraPlugins:'filebrowser',
                                            filebrowserBrowseUrl:'/list',//upload location
                                            filebrowserUploadMethod:'form',
                                            filebrowserUploadUrl:'/upload'//route
                                        })
                                    </script> 
                                </div>


                                <button type="submit" name="sbm" class="btn btn-success">Thêm mới</button>
                                <button type="reset" class="btn btn-default">Làm mới</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.col-->
    </div> <!--/.main-->

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-table.js"></script>

    


    <%- include("../layout/footer")%>