<%- include("../layout/head", {title: "Admin danh sách bài viết dịch vụ"})%>
<%- include("../layout/header")%>
<%- include("../layout/siderbar")%>



	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/admin/dashboard"><svg class="glyph stroked home">
							<use xlink:href="#stroked-home"></use>
						</svg></a></li>
				<li>Danh sách bài viết dịch vụ</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Danh sách bài viết dịch vụ</h1>
			</div>
		</div><!--/.row-->
		<div id="toolbar" class="btn-group">
			<a href="/admin/add-bai-viet-dich-vu" class="btn btn-success">
				<i class="glyphicon glyphicon-plus"></i> Thêm bài viết mới
			</a>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<table data-toolbar="#toolbar" data-toggle="table">

							<thead>
								<tr>
									<th data-field="id" data-sortable="true">ID</th>
									<th>Tiêu đề bài viết</th>
									<th>Danh mục</th> 
									<th>Hiển thị bài viết</th> 
									<th>Meta description</th>
									<th>Meta keywords</th>
									<th>Ngày đăng</th>
									<th>Hành động</th> 
								</tr>
							</thead>
							<tbody>
								<%for(item of product){%>
								<tr>
									<td><%=stt++%></td>
									<td><div class="antext"><%=item.tieudesp%></div></td>
									<td><div class="antext"><%=item.menudichvu_id.menudichvu%></div></td>
									<td>  
										<div class="form-check form-switch">
										<input onclick="clickupdate('<%=item._id%>')"  <%= item.nhap==1 && "checked" %> class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="nhap" value="on">
									  </div>
									</td>
									<td><div class="antext"><%=item.metadescription%> </div></td>
									<td><div class="antext"><%=item.metakeywords%></div> </td>
									<td><%= new Intl.DateTimeFormat('en-US').format(item.createdAt)%></td>
									<td class="form-group">
										<a href="/admin/edit-bai-viet-dich-vu/<%=item._id%>?page=<%=page%>" class="btn btn-primary"><i
												class="glyphicon glyphicon-pencil"></i></a>
										<a onclick="clickDelete('<%=item._id%>')" class="btn btn-danger"><i
												class="glyphicon glyphicon-remove"></i></a>
									</td>
								</tr>
								<%}%>
							</tbody>
						</table>
					</div>
					<nav aria-label="Page navigation example" style="text-align: center;">
						<ul class="pagination">
							<% if(hasPrev){%>
								<li class="page-item"><a class="page-link"
										href="/admin/bai-viet-dich-vu?page=<%=prev%>">&laquo;</a></li>
								<% }%>
									<% for(i of pages){%>
										<% if(i==="..." ){%>
											<li class="page-item <%= page === i ? 'active' : '' %>"><span class="page-link" <%=i%></span>
											</li>
											<% }else{%>
												<li class="page-item <%= page === i ? 'active' : '' %>"><a class="page-link"
														href="/admin/bai-viet-dich-vu?page=<%=i%>">
														<%=i%>
													</a></li>
												<%}%>
													<% }%>
														<% if(hasNext){%>
															<li class="page-item"><a class="page-link"
																	href="/admin/bai-viet-dich-vu?page=<%=next%>">&raquo;</a>
															</li>
															<% }%> 
						</ul>
					</nav>
				</div>
			</div>
		</div><!--/.row-->
	</div> <!--/.main-->

	<script>
		function handleConfirm(id) {
		  const isConfirm = confirm(`Bạn có chắc chắn xóa không?`)
		  const link = () => window.location.href = `/admin/delete-bai-viet-dich-vu/${id}?page=<%=page%>`
		  return isConfirm ? link() : false
		}
		const clickDelete = (id) => handleConfirm(id)

		function update(id) {
		  const link = () => window.location.href = `/admin/update-bai-viet-dich-vu/${id}?page=<%=page%>`
		  return link()
		}
		const clickupdate = (id) => update(id)
	  </script>

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-table.js"></script>

	<%- include("../layout/footer")%>