<%- include("../layout/head", {title: "Product" })%>
    <%- include("../layout/header")%>
        <%- include("../layout/siderbar")%>


            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
                <div class="row">
                    <ol class="breadcrumb">
                        <li><a href="#"><svg class="glyph stroked home">
                                    <use xlink:href="#stroked-home"></use>
                                </svg></a></li>
                        <li class="active">Danh sách sản phẩm</li>
                    </ol>
                </div><!--/.row-->

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Danh sách sản phẩm</h1>
                    </div>
                </div><!--/.row-->
                <div id="toolbar" class="btn-group">
                    <a href="/admin/products/create" class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i> Thêm sản phẩm
                    </a>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table data-toolbar="#toolbar" data-toggle="table">

                                    <thead>
                                        <tr>
                                            <th data-field="id" data-sortable="true">ID</th>
                                            <th data-field="name" data-sortable="true">Tên sản phẩm</th>
                                            <th data-field="price" data-sortable="true">Giá gốc</th>
                                            <th data-field="pricesale" data-sortable="true">Giá sale</th>
                                            <th>Ảnh sản phẩm</th>
                                            <th>Trạng thái</th>
                                            <th>Danh mục</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(product of products){%>
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <%=product.name%>
                                                </td>
                                                <td>
                                                    <%=product.price%> vnd
                                                </td>
                                                <td>
                                                    <%=product.pricesale%> vnd
                                                </td>
                                                <td style="text-align: center"><img width="130" height="180"
                                                        src="../site/images/New folder/<%=product.images[0].image%>" /></td>
                                                <td><span
                                                        class="label label-<%=product.trangthai? 'success': 'danger'%>">
                                                        <%=product.trangthai? "Còn hàng" : "Hết hàng" %>
                                                    </span></td>
                                                <td>
                                                    <%=product.spmoi? "sản phẩm mới" : ""%>
                                                </br>
                                                    <%=product.spsale? "sản phẩm sale" : ""%>
                                                </br>
                                                    <%=product.spbanchay? "sản phẩm bán chạy" : ""%>
                                                </td>
                                                <td class="form-group">
                                                    <a href="/admin/products/edit/<%=product._id%>"
                                                        class="btn btn-primary"><i
                                                            class="glyphicon glyphicon-pencil"></i></a>
                                                    <a href="/admin/products/delete/<%=product._id%>"
                                                        class="btn btn-danger"><i
                                                            class="glyphicon glyphicon-remove"></i></a>
                                                </td>
                                            </tr>
                                            <% }%>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <% if(hasPrev){%>
                                            <li class="page-item"><a class="page-link"
                                                    href="/admin/products?page=<%=prev%>">&laquo;</a></li>
                                            <% }%>
                                                <% for(i of pages){%>
                                                    <% if(i==="..." ){%>
                                                        <li class="page-item"><span class="page-link" <%=i%>></span>
                                                        </li>
                                                        <% }else{%>
                                                            <li class="page-item"><a class="page-link"
                                                                    href="/admin/products?page=<%=i%>">
                                                                    <%=i%>
                                                                </a></li>
                                                            <%}%>
                                                                <% }%>
                                                                    <% if(hasNext){%>
                                                                        <li class="page-item"><a class="page-link"
                                                                                href="/admin/products?page=<%=next%>">&raquo;</a>
                                                                        </li>
                                                                        <% }%>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            </div> <!--/.main-->

            <script src="js/jquery-1.11.1.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/bootstrap-table.js"></script>

            <%- include("../layout/footer")%>